:root {
  --nav-bar-background-color: grey;
  --nav-bar-item-color: white;
  --activty-popup-background-color: red;
}

* {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
}

.bottom-navbar {
  height: 9vh;
  width: 100vw;
  background-color: var(--nav-bar-background-color);
  display: flex;
  position: absolute;
  bottom: 0;
}
.vertical-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--nav-bar-item-color);
  margin: 10px;
  width: min(20vw, 10000px);
}

.right-floating-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8vh;
  height: min(5vh, 500px);
  position: absolute;
  background-color: var(--activty-popup-background-color);
  width: min(40vw, 1000px);
  right: 1vw;
  left: auto;
  top: auto;
  flex-direction: column;
}
.hidden {
  display: none;
}
