:root {
  --nav-bar-background-color: white;
  --nav-bar-item-color: white;
  --nav-bar-item-selected: white;
  --activty-popup-background-color: red;
  --main-content-background-color: white;
  --text-colour: black;
  --onclick-colour: red;
  --button-colour: #589aff;
  --border-colour: gray;
}

.addButtonBackground {
  background-color: var(--button-colour);
  border-radius: 7vw;
}

#titleContainer {
  display: flex;
  justify-content: space-between;
}

.navbar-icon {
  display: flex;
  object-fit: contain;
  height: 80%;
}

.dragging {
  /* opacity: 0%; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: white;
  cursor: grabbing
}

* {
  padding: 0;
  margin: 0;
  font-family: Syne, sans-serif;
  /* overflow: hidden; */
}

button {
  align-self: center;
  font-size: 5vw;
  background-color: var(--button-colour);
  padding: 1vw;
  border: 1px;
  border-radius: 2vw;
  margin: 2vw;
  width: 14vw;
}


.navbar {
  display: flex;
}

.menu-title {
  display: flex;
  font-size: 11vw;
  text-align: center;
}

.nav-selected {
  background-color: var(--nav-bar-item-selected);
  padding: 0vh 3vw;
}

.nav-unselected {
  background-color: var(--nav-bar-item-color);
}

.menu-item {
  display: flex;
  font-size: 10vw;
  justify-content: center;
}

#playlist-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom-navbar {
  height: 10.5vh;
  width: 100vw;
  display: flex;
  background-color: var(--nav-bar-background-color);
  position: absolute;
  bottom: 0;
}

.border-active {
  border-top: 0.3vh solid #262626;
}

.vertical-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-content {
  display: flex;
  justify-content: center;
  color: var(--text-colour);
  font-family: Syne, sans-serif;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: var(--main-content-background-color);
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 21vw;
}

#navbar {
  justify-content: space-between;
}

.navbar-text {
  font-size: 5vw;
}

.category-item {
  margin: 10px;
  justify-content: center;
  background-color: var(--button-colour);
  border-radius: 2vw;
}

.category-item:hover {
  transition: color 0.2s;
  color: grey;
}

.popup-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #000000b2;
}

.create-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  list-style-type: none;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
}

.popup-item {
  font-size: 5vw;
  padding: 5vw;
  background-color: white;
  margin: 2vh;
  border-radius: 4vw;
}

.hidden {
  display: none;
}
