:root {
  --nav-bar-background-color: #000000;
  --nav-bar-item-color: white;
  --activty-popup-background-color: red;
  --main-content-background-color: #171717;
}

* {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
}

.bottom-navbar {
  height: 9vh;
  width: 100vw;
  background-color: var(--nav-bar-background-color);
  display: flex;
  position: absolute;
  bottom: 0;
}
.border-active {
  border-top: 2px solid #262626;
}
.vertical-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-content {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Syne, sans-serif;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: var(--main-content-background-color);
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--nav-bar-item-color);
  margin: 10px;
  width: min(20vw, 10000px);
}
.category-item {
  margin: 10px;
}
.category-item:hover {
  transition: color 0.2s;
  color: grey;
}

.popup-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.create-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  background-color: white;
  width: 50vw;
  height: 50vh;
}
.hidden {
  display: none;
}
